name: banana
on:
  push:
    branches:
      - master

  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: minify javascript
        run: |
          npm config get prefix

          ls $(npm config get prefix)/bin/

          npm link @swc/core  # already installed in Github Actions
          time node <<EOF
            const fs = require("node:fs");
            const source = fs.readFileSync("banana.js");
            const minified = require("@swc/core").minifySync(source, {module: true}).code;
            fs.writeFileSync("banana.js", minified);
          EOF
          cat ./banana.js
