name: banana
on:
  push:
    branches:
      - master

  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: npm list
        run: npm list

      - name: npm list (global)
        run: npm list --global
